/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*
-----------------
 common styles
------------------
*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
.container{
    width: 1050px; 
}
.orange-color{
    color: firebrick;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 16px;
    color: #6C6C6C;
    margin: 0;
}
/*
-----------------
 header styles
-----------------
*/
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 67px 0px 86px 0px;
}
.topper-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.topper-info h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 64px;
}
.topper-info .watch-now a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5%;
}
.topper-info .watch-now:hover{
    transform: translateY(5px);
    transition: 1s linear;
}
.topper-info .watch-now a:hover{
    background-color: #FFFFFF;
    color: #2D25A0;
    transition: 1s linear;
    box-shadow: -1px 3px 0px 4px #e02c6d;
}
.topper-info .fa-arrow-right{
    margin-left: 8px;
}
.topper-area .topper-banner img{
    width: 556.01px;
    height: 438px;
}
 /*
--------------------------
    players-area styles
--------------------------
*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin-top: 70px;
 }
.player{
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
.player:hover{
    border: 2px solid #FE5000;
    padding: 13px;
}
.player img{
    width: 300px;
    height: 256px;
 }
.player h3{
    font-size: 28px;
    margin: 0;
    padding: 16px 0px 10px 0px;
 }
 .player a{
    color: #18191F;
    text-decoration: none;
 }

 /*
 --------------------------
    highlights-area styles
---------------------------
*/
.highlights-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 70px 0px;
    grid-column-gap: 66px;
}
.highlights-info{
    padding-top: 55px;
}
.highlights-info h1{
    font-size: 38px;
    color: #0A0826;
    margin: 0;
}
.highlights-info p.watch-now{
    margin-top: 24px;
}
.highlights-info a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 20px;
    font-weight: 500;
}
.highlights-info .watch-now a:hover{
    background-color: #FFFFFF;
    color: #2D25A0;
    transition: 1s linear;
    box-shadow: -1px 3px 0px 4px #e02c6d;
}
.highlights-info .fa-arrow-right{
    margin-left: 8px;
}
.highlights-thumbnail img{
    width: 567px;
    height: 427px;
}
.highlights-thumbnail img:hover{
    transform: scale(0.75);
    transition: 1s linear;
}
/*
--------------------
    shop area styles 
--------------------
*/
.dream-shop{
    color: #E02C6D;
    text-transform: uppercase;
}

.shops{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}
.shop{
    cursor: pointer;
}
.shop{
    border: 1px solid #e4d6d6;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10%;
}
.shop img{
    width:100%;
}
.shop:hover img{
    transform: scale(0.75);
    transition: 1s linear;
}
/* -------------------------
    footer styles
--------------------------
*/ 
.footer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0px 63px 0px;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon .font-icon{
    padding: 20px 0px;
}
.icon .footer-icon{
    padding: 14px;
    color: #969BAB;
    background-color: #E7E7E8;
    margin-right: 14px;
    border-radius: 50%;
}
.icon .font-icon a{
    text-decoration: none;
}
.copyright{
    font-size: 18px;
    color: #000000;
    letter-spacing: 1px;
}

/*
-----------------
    media-queriye
------------------
*/

/*
-----------------
    mobile-device 
------------------
*/
@media only screen and (max-width:688px) {
.container{
    width: 100%;
}
